.amazon-header-size{
  width: 97px;
  height: 29px;
  display: inline-block;
}
.language-dims{
  width: 14px;
  height: 14px;
  position: relative;
  top: 10px;
  left: 20px;
  display: inline-block;
}
.language-text{
  position: relative;
  top: -7px;
  left: 0;
}
.main-input-size{
  width: 570px;
}
.nav-padding{
  padding-top: .75rem;
  padding-bottom: .75rem;
}
.acct-greet{
  position: absolute;
  top: -10px;
  left: 0;
}
.carousel-item-height{
  height: 300px;
}
.img-position-prime{
  position: absolute;
  top: -17px;
}
.img-h-c{
  max-height: 200px;
  max-width: 270px;
}
.height-set-220{
  height: 220px;
}
.quick-look{
  position: relative;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.carousel-item{
  a:hover{
    button{
      opacity: 1;
    }
  }
}
.card-dims{
  max-height: 200px;
  height: 100%;
  width: 442px;
}
.card-zon-img{
  width: 440px;
  height: 100%;
}
.vcenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.vcenter-d{
  position: relative;
  top: 50%;
  transform: translateY(30%);
}
.prime-logo-dims{
  width: 47px;
  height: 15px;
}
.stars-dims{
  width: 80px;
  height: 18px;
}
.contain-comps{
  overflow: hidden;
}
.search-nav{
  float: left;
  width: 250px;
}
.fresh-dims{
  width: 36px;
  height: 12px;
  vertical-align: baseline;
}
.amazon-thb{
  height: 55px;
  width: 45px;
}
.amazon-show{
  height: 250px;
}
