$main-color: #232f3e;
$secondary-header-color: #ccc;
$prime-color: #48a3c6;

.white{
  color: white;
  font-size: 14px;
}
.language-sprite{
  background-image: url('https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/InternationalCustomerPreferencesNavDesktopAssets-icp_sprite-6b737a23dc2fdf9eef2fe592c2f05017215df7e7._V2_.png');
  background-position: -77px -24px;
}
.header-list-sc{
  color: $secondary-header-color;
  font-size: 13px;
}
.h-border-r{
  border-right: solid 1px #696969;
}
.h-list-ul:hover{
  text-decoration: underline;
  color: $secondary-header-color;
}
.bold-text{
  font-weight: bold;
}
.amazon-header-sprite{
  background-image: url('https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-2x_optimized._CB281044790_.png');
  background-position: -10px -51px;
  background-size: 350px;
}
.header-background-color{
  background-color: $main-color;
}
.inline-form-custom{
  font-size: 12px !important;
}
.io-font-adjust{
  font-size: 18px;
}
.cart-num{
  color: #F59433
}
.prime{
  background-color: $prime-color;
  font-size: 26px;
}
.img-position-prime{
  position: relative;
  top: -10px;
}
.sm-line-height{
  line-height: normal;
}
